@import "../scss/variables/_variables";
@import "../scss/typography/_typography";
// ==============BANNER=======================
.banner{
	height: 92vh;
}

.banner-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner-content-left{
	width: 50vw;
	background-color: $secondary-background-color;
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: right;
	padding-right: 20px;
	text-align: right;
}

.banner-left-h3{
	font-size: $font-header-size-big-screen;
	font-family: $font-header-landing;
}

.banner-left-p{
	font-size: $font-paragraph-size-big-screen;
	font-family: $font-paragraph;
}

.banner-content-right{
	width: 50vw;
	height: 92vh;
}

.banner-content-right{
	background-image: url(../../assets/desktop1.jfif);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner-left-input-group{
	width: 40vw;
	display: flex;
	justify-content: space-between;
	margin-left: 8vw;
}

// ==========WELCOME SECTION=============
.welcome{
	height: 100vh;
}

.welcome-content{
	height: 100%;
	width: 90vw;
	margin: auto;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center
}

.welcome-left{
	background-image: linear-gradient(to bottom, #2C51D3, #0714439f),url(../../assets/desktop3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 45vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.welcome-left-h3-main{
	font-family: $font-paragraph;
	font-size: 30px;
	margin-bottom: 10px;
}

.welcome-left-h3{
	font-family: $font-paragraph;
}

.welcome-left-p{
	font-family: $font-paragraph;
}

.welcome-right{
	width: 45vw;
	height: 100%;
}

.welcome-right-cards{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.welcome-right-cards-row{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
	margin-bottom: none;
}

.welcome-card-item{
	border-radius: $border-radius;
	box-shadow: $card-boxshadow;
	padding: $card-padding;
	height: $card-home-height;
	width: $card-home-width;
	margin-left: 50px;
	font-family: $font-paragraph;
	// margin-bottom: 50px;
}

.welcome-card-item-dropped{
	border-radius: $border-radius;
	box-shadow: $card-boxshadow;
	padding: $card-padding;
	height: $card-home-height;
	margin-top: 50px;
	width: $card-home-width;
	margin-left: 50px;
	font-family: $font-paragraph;
	// margin-bottom: 50px;
}

.welcome-fontawesome{
	font-size: 50px;
	color: $primary-color;
}

.welcome-left-h3{
	font-size: 25px;
	color: $primary-color;
}


// ==================COURSES========================
.landing-courses{
	min-width: 99.9999vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $secondary-background-color;
}
.landing-courses-top{
	margin-top: 5vh;
}

.landing-courses-top-h3{
	font-size: 40px;
	color: $primary-color;
	font-family: $default-font;
}

.landing-courses-top-p{
	margin-top: 10px;
	font-size: 23px;
	color: $primary-color;
	font-family: $default-font;
	margin-bottom: 20px;
}

.landing-hr{
	width: 90vw;
	color: $primary-color;
	margin: auto;
}

.landing-courses-cards{
	display: grid;
	width: 90vw;
	min-height: 85vh;
	margin: auto;
    grid-gap: 10px;
	margin-top: 20px;
    grid-template-columns: [col1-start] 29vw  [col2-start] 29vw  [col3-start] 29vw  [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.landing-courses-card-A{
	box-shadow: $card-boxshadow;
	border-radius: $border-radius;
	background-color: yellow;
    grid-column: col1-start / col3-start;
    grid-row: row1-start ;
}
.landing-courses-card-B{
	box-shadow: $card-boxshadow;
	border-radius: $border-radius;
	background-color: red;
    grid-column: col3-start ;
    grid-row: row1-start / row2-end;
}
.landing-courses-card-C{
	box-shadow: $card-boxshadow;
	border-radius: $border-radius;
	background-color: green;
    grid-column: col1-start;
    grid-row: row2-start ;
}
.landing-courses-card-D{
	box-shadow: $card-boxshadow;
	border-radius: $border-radius;
	background-color: blue;
    grid-column: col2-start ;
    grid-row: row2-start ;
  }