@import "../../../scss/variables/variables";
@import "../../../scss/typography/typography";

// ===========STUDENT COURSES================
.student-courses{
	margin-left: 18vw;
	width: 80.95vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.student-courses-content{
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: justify;
}

.student-courses-h3{
	margin-top: 20px;
	font-size: $font-header-size-big-screen;
	font-family: $default-font;
	color: $primary-color;
}

.student-courses-p-and-filters{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 9vh;
	font-family: $default-font;
	font-size: $font-nav-header-size-medium-screen
}

.student-courses-ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: left;
}

.student-course-list{
	list-style: none;
	margin: 10px;
}

.student-course-card{
	width: 385px;
	min-height: 550px;
	border-radius: $border-radius;
	box-shadow: 2px 5px 10px rgb(204, 204, 204);
	font-family: $default-font;
	margin-bottom: 30px;
	background-color: white;
}

.student-courses-filter{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.student-course-card-image{
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}

.student-course-card-img{
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	width: 385px;
	height: 275px;
}
 
.student-course-card-texts{
	width: 90%;
	margin: auto;
}

.student-course-card-text-header{
	font-size: 17px;
	color: black;
	font-weight: 700;
	text-align: justify;
}

.student-course-card-text-icons{
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: justify;
	min-height: 50px;
}

.student-course-card-icons{
	margin-right: 5px;
}

.student-course-card-icon-group{
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: justify;
	margin: 5px 10px 5px 0px;
	color: $font-alt;
	font-size: $font-paragraph-size-medium-screen;
}

.student-course-card-text-details{
	// color: $font-alt;
	font-size: $font-paragraph-size-medium-screen;
}

.student-course-card-call-to-action{
	margin-top: 50px;
}