@import "../../../scss/variables/variables";
@import "../../../scss/typography/typography";

// ========student details top======
.student-course-details{
	display: flex;
	justify-content: center;
	margin-left: 18vw;
	width: 80.95vw
}

.student-course-details-content{
	width: 95%;
	margin: 30px auto;
}




//========student details top===========
.student-course-details-top{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: flex-start;
}

.student-sourse-details-left{
	width: 50vw;
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7px #ccc;
	min-height: 75vh;
	text-align: justify;
	margin-right: 20px;
}

.student-course-details-top-text{
	width: 95%;
	margin: 10px auto;
	font-family: $default-font;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.student-course-video{
	width: 50vw;
	height: 65vh;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}

.student-course-details-bottom{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.student-course-details-bottom-items{
	display: flex;
	justify-content: left;
	align-items: center;
}

.student-course-details-bottom-items-icons{
	margin-right: 10px;
}

.student-course-details-right{
	width: 410px
}

.student-course-details-right-info{
	width: 95%;
	margin: auto;
	font-family: $default-font;
}

.student-course-details-enroll{
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7pc #ccc;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 10px;

}

.student-course-details-enroll-price{
	font-weight: 800;
	font-size: $font-header-size-small-screen;
}

.student-course-details-enroll-sub-text{
	color: $primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.student-course-details-enroll-button-A{
	margin-bottom: 10px;
}

.student-course-details-lec-card{
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7pc #ccc;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.student-course-details-lec-card-top{
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: left;
}

.student-course-details-lec-card-top-left-img{
	width: 50px;
	height: 50px;
	border-radius: $border-radius;
	margin-right: 20px;
}

.student-course-details-lec-card-middle{
	text-align: left;
	font-family: 14px;
	margin-top: 20px;
}

.student-course-details-lec-card-middle-icons{
	margin-right: 10px;
	padding: 5px;
	background-color: $primary-color;
	font-size: 25px;
	color: white;
	border-radius: $border-radius;
}

.student-course-details-lec-card-bottom{
	text-align: left;
	margin-top: 20px;
}

.student-course-details-lec-card-bottom-icon{
	margin-right: 20px;
	font-size: 20px;
}

// ===student course description========
.student-course-description{
	width: 50vw;
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7px #ccc;
	min-height: 75vh;
	text-align: justify;
	margin-right: 20px;
	margin-top: 50px;
}

.student-course-description-content{
	width: 95%;
	padding-top: 50px;
	margin: auto;
	font-family: $default-font;
}


.student-course-description-p{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}

.student-course-description-ul{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
	margin-left: 20px;
}

.student-course-description-li{
	color: $font-alt;
}

// ========STUDENT COURSE CURRICULLUM===============
.student-course-curriculum{
	width: 50vw;
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7px #ccc;
	min-height: 75vh;
	text-align: justify;
	margin-right: 20px;
	margin-top: 50px;
}

.student-course-curriculum-content{
	width: 95%;
	padding-top: 50px;
	margin: auto;
	font-family: $default-font;
	text-align: left;
}

.student-course-curriculum-h3{
	margin: 10px auto;
}

// ==========STUDENT COURSE MODULES===============
.student-course-modules{
	margin: 20px auto;
}

.student-course-module-header{
	color: $primary-color
}

.student-course-module-li{
	display: flex;
	text-align: left;
	justify-content: left;
	text-align: left;
	margin: 10px;
	color: $font-alt
}

.student-course-module-li-p{
	margin-left: 10px;
}

// =======FACULTY CARD LIST===========
.faculty-card-list{
	width: 50vw;
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7px #ccc;
	min-height: 30vh;
	text-align: justify;
	margin-top: 50px;
}

.faculty-card-list-content{
	width: 95%;
	padding-top: 30px;
	margin:10px auto;
	font-family: $default-font;
	text-align: left;
}

.faculty-card-list-top-img{
	width: 70px;
	height: 70px;
	border-radius: $border-radius;
}

.faculty-card-list-top{
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: left;
}

.faculty-card-list-top-right{
	margin-left: 20px;
}

.faculty-card-list-center{
	margin: 20px 0px;
	display: flex;
	justify-content: left;
	align-items: center;
}