@import "../../../scss/variables/variables";
@import "../../../scss/typography/typography";

// ========student details top======
.student-course-details{
	display: flex;
	justify-content: center;
	margin-left: 18vw;
	width: 80.95vw
}

.student-course-details-content{
	width: 95%;
	margin: 30px auto;
}




//========student details top===========
.student-course-details-top{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: flex-start;
}

.student-sourse-details-left{
	width: 50vw;
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7px #ccc;
	min-height: 75vh;
	text-align: justify;
	margin-right: 20px;
}

.student-course-details-top-text{
	width: 95%;
	margin: 10px auto;
	font-family: $default-font;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.student-course-video{
	width: 50vw;
	height: 65vh;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}

.student-course-details-bottom{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.student-course-details-bottom-items{
	display: flex;
	justify-content: left;
	align-items: center;
}

.student-course-details-bottom-items-icons{
	margin-right: 10px;
}

.student-course-details-right{
	width: 410px
}

.student-course-details-right-info{
	width: 95%;
	margin: auto;
	font-family: $default-font;
}

.student-course-details-enroll{
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7pc #ccc;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 10px;

}

.student-course-details-enroll-price{
	font-weight: 800;
	font-size: $font-header-size-small-screen;
}

.student-course-details-enroll-sub-text{
	color: $primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.student-course-details-enroll-button-A{
	margin-bottom: 10px;
}

.student-course-details-lec-card{
	border-radius: $border-radius;
	background-color: white;
	box-shadow: 2px 4px 7pc #ccc;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.student-course-details-lec-card-top{
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: left;
}

.student-course-details-lec-card-top-left-img{
	width: 50px;
	height: 50px;
	border-radius: $border-radius;
	margin-right: 20px;
}

.student-course-details-lec-card-middle{
	text-align: left;
	font-family: 14px;
}

.student-course-details-lec-card-middle-icons{
	margin-right: 10px;
}