// definations
$primary-color: #2C51D3 !default;
$secondary-color: #071443 !default;
$success-color: rgb(0, 218, 0) !default;
$error-color: #ff2424 !default;
$error-hover-color: #fc0000 !default;
$background-color: #e6eeff;
$secondary-background-color: #a8cbff;
$alt-color: rgb(104, 104, 104);

// $button-sm
// borders
$border-radius: 10px;
$border-width: 1px;
$border-color: black;
$border : solid $primary-color 2px;

// 
$card-boxshadow: 2px 5px 7px rgb(49, 49, 49);
$card-padding: 10px;
$card-home-height: 40vh;
$card-home-width: 300px;

// inputs
$input-long-width: 600px;
$input-medium-width: 400px; 
$input-double-width: 350px; 
$input-small-width: 80.95vw;

// text area
$textarea-long-width: 600px;
$textarea-medium-width: 400px; 
$textarea-double-width: 350px; 
$textarea-small-width: 80.95vw;

// button width
$button-big-screen: 200px;
$button-small-screen: 150px;

// social media
$sm-input-width: 400px;
$sm-textarea-width: 400px;

// box shadow
$box-shadow: 2px 5px 10pc rgb(90, 89, 89)
