$font-header-landing: 'Roboto', sans-serif;;
$font-paragraph: Monda;
$default-font: Monda;

$font-header-size-big-screen: 40px;
$font-header-size-medium-screen: 30px;
$font-header-size-small-screen: 20px;

$font-nav-header-size-big-screen: 24px;
$font-nav-header-size-medium-screen: 20px;
$font-nav-header-size-small-screen: 18px;

$font-nav-items-size-big-screen: 18px;
$font-nav-items-size-medium-screen: 16px;
$font-nav-items-size-small-screen: 15px;

$font-paragraph-size-big-screen: 16px;
$font-paragraph-size-medium-screen: 14px;
$font-paragraph-size-small-screen: 13px;

$font-button-size-big-screen: 16px;
$font-button-size-medium-screen: 14px;
$font-button-size-small-screen: 13px;

$font-placeholder-size-big-screen: 16px;
$font-placeholder-size-medium-screen: 14px;
$font-placeholder-size-small-screen: 13px;

$font-placeholder-size-color: rgb(56, 56, 56);
