@import "../scss/variables/_variables";
@import "../scss/typography/_typography";

// ============REGISTER===============
.register{
	height: 100vh;
	max-width: 100vw;
	min-width: 99.999vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $secondary-background-color;
}

.register-left{
	background-image: url(../../assets/desktop2.jfif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 49vw;
	display : flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.register-left-content{
	padding: 10px;
	color: whitesmoke;
	display : flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.459);
	font-family: $default-font;
	min-height: 40vh;
}

.register-right{
	width: 50.79vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.register-form{
	width: 98%;
	margin: auto;
	display: grid;
	grid-template-areas:
		"A A A A   A A B B   B B B B"
		"C C C C   C C D D   D D D D"
		"E E E E   E E F F   F F F F"
		"G G G G   G G H H   H H H H"
		"I I I I   I I J J   J J J J";
}

.form-group-A{
	grid-area: A;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-B{
	grid-area: B;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-C{
	grid-area: C;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-D{
	grid-area: D;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-E{
	grid-area: I;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-F{
	grid-area: F;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-G{
	grid-area: G;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-H{
	grid-area: H;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-I{
	grid-area: E;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-group-J{
	grid-area: J;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form-small-input{
	width: $input-double-width !important;
}