// definations
$primary-color: #f8bbd0 !default;
$secondary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;
$background-color: #0F1A43;
// $button-sm
* {    
	margin: 0 !important;
	padding: 0 !important;
 }
.App {
	text-align: center;
	background-color: $background-color;
	min-height: 100vh;
	margin: 0px
}

// @if $dark-theme {
		// $primary-color: darken($primary-color, 60%);
		// $accent-color: lighten($accent-color, 60%);
// }
